<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931786685297-pq386llonovh91el4g8tn5m8k1qfqj0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931786685297-pq386llonovh91el4g8tn5m8k1qfqj0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ1dg-qfry0YfWWfs4qkrKolF-y9zHxxA</string>
	<key>GCM_SENDER_ID</key>
	<string>931786685297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aoad.AOAD</string>
	<key>PROJECT_ID</key>
	<string>stat-d593c</string>
	<key>STORAGE_BUCKET</key>
	<string>stat-d593c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931786685297:ios:0ed8e470c37ab49a4314d0</string>
	<key>DATABASE_URL</key>
	<string>https://stat-d593c.firebaseio.com</string>
</dict>
</plist>